.main-ListaProdutos {
  margin-top: 15px;
  margin-left: 16px;
}
.main-cartProducts {
  margin: 0 auto;
}
@media (min-width: 1120px) {
  main {
    display: flex;
  }
}
@media (min-width: 1440px) {
  main {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}
